
<section class="blog-user-pic">
  <a href="#users/<%= blog.escape('author_id') %>">
    <img src="<%= blog.escape('author_pic') %>">
  </a>
</section>
<h1 class="blog-title"><%= blog.escape('title') %>
<% if (blog.get('current_user_is_author')) { %>
</h1>
  <button class="edit-blog-button">Edit Blog</button>
  <button class="discard-blog-changes hidden">Discard Changes</button>
  <button class="delete-blog-button hidden">Delete Blog</button>
  <button class="confirm-delete-blog-button hidden">Confirm Delete</button>
  <button class="cancel-delete-blog-button hidden">Cancel</button>
  <h2 class="blog-author">
    by <a href="#users/<%= blog.escape('author_id') %>"><%= blog.escape('author_name') %></a>
    on <%= blog.escape('created_at') %>
  </h2>
  <section class="blog-edit hidden">
    <form class="blog-form">
      <label class="blog-label">Title:
        <input type="string" name="blog[title]" value="<%= blog.escape('title') %>">
      </label>
      <br>
      <label class="blog-label">Body:
      <br>
        <textarea name="blog[body]" rows="20" cols="50"><%= blog.escape('body') %></textarea>
      </label>
      <br>
      <label class="blog-label">Preview:
      <br>
        <textarea name="blog[preview]" rows="2" cols="50"><%= blog.escape('preview') %></textarea>
      </label>
      <br>
      <button>Save Changes</button>
    </form>
  </section>
<% } else { %>
  </h1>
  <h2 class="blog-author">
    by <a href="#users/<%= blog.escape('author_id') %>"><%= blog.escape('author_name') %></a>
    on <%= blog.escape('created_at') %>
  </h2>
<% } %>

<section class="blog-show">
  <section class="blog-body">
    <%= blog.get('markdown') %>
  </section>
</section>
<section class="comments-wrapper">
  <h2 class="comments-header">Comments</h2>
  <section class="blog-comments">
    <ul class="comments-list">
      <% comments.each( function(comment) { %>
        <li class="comments-list-item">
          <h3 class="comment-author">
            <a href="#users/<%= comment.escape('author_id')%>">
              <%= comment.escape('author') %>
            </a>
            wrote:
          </h3>
          <p class="comment-body">
            <%= comment.escape('body') %>
          </p>
          <p class="comment-date">
            on <%= comment.escape('created_at') %>
          </p>
        </li>
      <% }) %>
    </ul>
    <button class="discard-comment hidden">Discard</button>
    <button class="add-new-comment">Add Comment</button>
    <form class="add-comment hidden">
      <label class="comment-label">
        <textarea name="comment[body]" rows="4" cols="50"></textarea>
      </label>
      <button class="submit-comment">Submit</button>
    </form>
  </section>
</section>
