<h1 class="blog-title"><%= blog.escape('title') %>
<% if (blog.get('current_user_is_author')) { %>
  <button class="edit-blog-button">Edit Blog</button>
  <button class="discard-changes hidden">Discard Changes</button>
</h1>
  <section class="blog-edit hidden">
    <form class="blog-form">
      <label class="blog-label">Title:
        <input type="string" name="blog[title]" value="<%= blog.escape('title') %>">
      </label>
      <br>
      <label class="blog-label">Body:
      <br>
        <textarea name="blog[body]" rows="20" cols="50"><%= blog.escape('body') %></textarea>
      </label>
      <br>
      <label class="blog-label">Preview:
      <br>
        <textarea name="blog[preview]" rows="2" cols="50"><%= blog.escape('preview') %></textarea>
      </label>
      <br>
      <button>Save Changes</button>
    </form>
  </section>
<% } else { %>
  </h1>
<% } %>
<section class="blog-show">
  <h2 class="blog-author">
    by <a href="#users/<%= blog.escape('author_id') %>"><%= blog.escape('author_name') %></a>
    on <%= blog.escape('created_at') %>
  </h2>
  <p class="blog-body">
  <%= blog.escape('body') %>
  </p>
  <% if (blog.get('current_user_is_author')) { %>
    <p class="blog-preview">
      Preview: <%= blog.escape('preview') %>
    </p>
  <% } %>
</section>
<section class="blog-comments">
  <h2 class="comments-header">Comments</h2>
  <ul class="comments-list">
    <% comments.each( function(comment) { %>
      <li class="comments-list-item">
        <h3 class="comment-author">
          <a href="#users/<%= comment.escape('author_id')%>">
            <%= comment.escape('author') %>
          </a>
           - <%= comment.escape('created_at') %>
        </h3>
        <p class="comment-body">
          <%= comment.escape('body') %>
        </p>
      </li>
    <% }) %>
  </ul>
  <br>
  <button class="discard-comment hidden">Discard</button>
  <button class="add-new-comment">Add Comment</button>
  <form class="add-comment hidden">
    <label class="comment-label">
      <textarea name="comment[body]" rows="4" cols="50"></textarea>
    </label>
    <br>
    <button>Submit</button>
  </form>
</section>
