<section class="log-user-pic">
  <a href="#users/<%= log.escape('user_id') %>">
    <img src="<%= log.escape('user_pic') %>">
  </a>
</section>

<h1 class="log-title"><%= log.escape('title') %>
  <% if (log.get('current_user_is_user')) { %>
</h1>
    <button class="edit-log-button">Edit Log</button>
    <button class="discard-log-changes hidden">Discard Changes</button>
    <button class="delete-log-button hidden">Delete Log</button>
    <button class="confirm-delete-log-button hidden">Confirm Delete</button>
    <button class="cancel-delete-log-button hidden">Cancel</button>
    <h2 class="log-user">
      <a href="#users/<%= log.escape('user_id') %>"><%= log.escape('username') %></a>
      on <%= log.escape('date') %>
    </h2>
    <section class="log-edit hidden">
      <form class="log-form">
        <label class="log-label">Title:
          <input class="title-input" type="string" name="log[title]" value="<%= log.escape('title') %>">
          <p class="input-desc">(optional)</p>
        </label>

        <label class="log-label">Date:
          <input class="date-input" type="date" name="log[date]" value="<%= log.escape('date') %>">
        </label>

        <label class="log-label">Distance:
          <input class="distance-input" type="number" step="0.01" min=".01" max="999.99" name="log[distance]" value="<%= log.escape('distance') %>">
          <p class="input-desc">(mi)</p>
        </label>


        <label class="log-label">Duration:
          <input class="time-input hour" type="number" min="0" max="99" value="<%= log.escape('hours') %>" name="log[hours]">:<input class="time-input minute" type="number" min="0" max="59" value="<%= log.escape('minutes') %>" name="log[minutes]">:<input class="time-input" type="number" min="0" max="59.99" step="0.01" value="<%= log.escape('seconds') %>" name="log[seconds]">
          <p class="input-desc">(hh:mm:ss.ss)</p>
        </label>


        <label class="log-label">Shoes:
          <select class="shoes-select" name="log[shoe_id]">
            <% if (log.escape('shoe_id')) { %>
              <option value="<%= log.escape('shoe_id') %>"><%= log.escape('shoe_name') %></option>
            <% } else { %>
              <option value="none">Select One</option>
            <% } %>
            <% shoe_options.each( function (shoe) {%>
              <% if (shoe.escape('shoe_id') !== log.escape('shoe_id')) { %>
               <option value="<%= shoe.escape('shoe_id') %>"><%= shoe.escape('name') %></option>
              <% } %>
            <% }) %>
            <option value="none">Remove Selection</option>
          </select>
          <p class="input-desc">(optional)</p>
        </label>

        <label class="log-label">Notes: <p class="input-desc">(optional)</p>
          <textarea name="log[notes]" rows="4" cols="50"><%= log.escape('notes') %></textarea>
        </label>
        <br>
          <button>Save Changes</button>
      </form>
    </section>

  <% } else { %>
</h1>
<h2 class="log-user">
  <a href="#users/<%= log.escape('user_id') %>"><%= log.escape('username') %></a>
  on <%= log.escape('date') %>
</h2>
  <% } %>

<section class="log-show">
  <section class="log-body">


    <ul class="log-show-list">
      <li class="log-show-list-item">Distance:
        <p class="log-list-item-desc"><%= log.escape('distance') %>mi</p>
      </li>
      <li class="log-show-list-item">Duration:
        <p class="log-list-item-desc"><%= log.escape('duration_string') %></p>
      </li>
      <li class="log-show-list-item">Pace:
        <p class="log-list-item-desc"><%= log.escape('pace') %>min/mi</p>
      </li>
      <li class="log-show-list-item">Shoe:
        <p class="log-list-item-desc"><%= log.escape('shoe_name') %></p>
      </li>
    </ul>

    <h2 class="log-notes-title">Notes:</h2>
    <p class="log-notes">
      <%= log.escape('notes') %>
    </p>
  </section>
</section>
<section class="comments-wrapper">
  <h2 class="comments-header">Comments</h2>
  <section class="log-comments">

    <ul class="comments-list">
      <% comments.each( function(comment) { %>
        <li class="comments-list-item">
          <h3 class="comment-author">
            <a href="#users/<%= comment.escape('author_id')%>">
              <%= comment.escape('author') %>
            </a>
            wrote:
          </h3>
          <p class="comment-body">
            <%= comment.escape('body') %>
          </p>
          <p class="comment-date">
            on <%= comment.escape('created_at') %>
          </p>
        </li>
      <% }) %>
    </ul>
    <button class="discard-comment hidden">Discard</button>
    <button class="add-new-comment">Add Comment</button>
    <form class="add-comment hidden">
      <label class="comment-label">
        <textarea name="comment[body]" rows="4" cols="50"></textarea>
      </label>
      <button class="submit-comment">Submit</button>
    </form>
  </section>
  </section>
