<h1>Recent Logs</h1>
<ul class="log-list">
  <% logs.each( function(log) { %>
    <li class="log-list-item">
      <%= log.escape('title') %>
      <br>
      <%= log.escape('user_id') %> - <%= log.escape('date') %>
      <br>
      <%= log.escape('distance') %>mi -
      <%= log.escape('duration') %>sec -
      <%= (log.attributes.duration / 60) / log.attributes.distance %>min/mi
    </li>
    <br>
  <% }) %>
</ul>
