<h1 class="search-title">Find Users</h1>
<p class="search-desc">Search for users by their username or keywords in their description.</p>

<section class="search-users group">
  <section class="search-area group">
    <form class="search-users-form">
      <label>
        <input type="text" class="query" value="<%= users._query %>">
      </label>
      <button>Search</button>
    </form>
    <button class="all-users">Show All</button>
  </section>

  <ul class="search-list group">

    <% users.each( function(user) { %>
      <% if (user.get('no_results')) { %>
        <li class="search-list-item">
          <p>No results to display.</p>
        </li>
      <% } else { %>
      <li class="search-list-item group">
        <section class="user-search-image">
          <a href="#users/<%= user.id %>">
            <img src="<%= user.escape('pic') %>">
          </a>
        </section>
        <section class="user-search-desc">
          <a href="#users/<%= user.id %>"><%= user.escape('username') %></a>
          <p><%= user.escape('description') %></p>
        </section>
      </li>
      <% } %>
    <% }) %>
  </ul>
</section>
