<h1 class="username-profile group"><%= user.escape('username') %>
<% if (user.get('is_current_user')) { %>
</h1>
  <button class="edit-profile-button">Edit Profile</button>
  <button class="discard-changes hidden">Discard Changes</button>
  <form class="edit-profile-form hidden">
    <label>Username:
      <input type="text" name="user[username]" value="<%= user.escape('username')%>">
    </label>
    <br>
    <label>Email:
      <input type="text" name="user[email]" value="<%= user.escape('email')%>">
    </label>
    <br>
    <label>New Password:
      <input type="password" name="user[pw1]" value="">
    </label>
    <br>
    <label>Confirm New Password:
      <input type="password" name="user[pw2]" value="">
    </label>
    <br>
    <label>Upload New Photo:
      <input class="new-profile-pic" type="file" name="profile_pic">
    </label>
    <br>
    <label>Description:
      <br>
      <textarea name="user[description]" rows="6" cols="50"><%= user.escape('description')%></textarea>
    </label>
    <br>
    <button class="save-changes">Save Changes</button>
  </form>
<% } else { %>
</h1>
<button class="follow"></button>
<% } %>

<section class="view-user-profile group">
  <img class="user-pic" src="<%= user.escape('photo_url') %>" alt="<%= user.escape('username') %>" />

  <ul class="user-profile-list">
    <li class="user-description"><%= user.escape('description') %></li>
    <li class="join-miles">
      Joined: <%= user.escape('join_month') %>/<%= user.escape('join_year') %> -
      Total Miles Logged: <%= user.escape('total_distance') %>
    </li>
  </ul>
</section>

<section class="blog-feed user">
  <h1 class="blog-feed-title">Recent Blogs</h1>
  <ul class="blog-feed-list user group">
    <% blogs.each( function(blog) { %>
      <li class="blog-feed-list-item">
        <a class="entry-title" href="#blogs/<%= blog.id %>"><%= blog.escape('title') %></a>
        <p class="preview"><%= blog.escape('preview') %><p>
        <p class="user-date">
          <a class="username" href="#users/<%= blog.escape('author_id')%>">
          <%= blog.escape('author_name') %>
          </a>
          - <%= blog.escape('created_at') %>
        </p>
      </li>
    <% }) %>
  </ul>
</section>

<section class="log-feed user">
  <h1 class="log-feed-title">Recent Logs</h1>
  <ul class="log-feed-list user group">
    <% logs.each( function(log) { %>
      <li class="log-feed-list-item">
        <a class="entry-title" href="#logs/<%= log.id %>"><%= log.escape('title') %></a>
        <p class="stats">
          <%= log.escape('distance') %>mi -
          <%= log.escape('duration') %> -
          <%= log.escape('pace') %>/mi
        </p>
        <p class="user-date">
          <a class="username" href="#users/<%= log.escape('user_id')%>">
          <%= log.escape('username') %>
          </a>
          - <%= log.escape('date') %>
        </p>
      </li>
    <% }) %>
  </ul>
</section>


<section class="user-shoes">
  <h1 class="user-shoes-title">Shoes
    <% if (user.get('is_current_user')) { %>
      <button class="remove-shoes">Edit Shoes</button>
      <button class="done-editing hidden">Done Editing</button>
    <% } %>
  </h1>
  <ul class="user-shoes-list">
    <% shoes.each( function(shoe) { %>
      <li>
        <%= shoe.escape('name')%> - <%= shoe.escape('total_distance') %>mi
        <% if (user.get('is_current_user')) { %>
          <button class="delete-shoe hidden" data-id="<%= shoe.escape('id') %>">Delete</button>
          <button class="delete-shoe-cancel hidden" data-id="<%= shoe.escape('id') %>">Cancel</button>
          <button class="delete-shoe-confirm hidden" data-id="<%= shoe.escape('id') %>">Confirm</button>
        <% } %>
      </li>
      <br>
    <% }) %>
  </ul>
</section>
