<!DOCTYPE html>
<html>
<head>
  <title>Runlogr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="page-header">
    <nav class="header-nav group">
      <h1 class="header-logo"><a href="#feed"><img src="/images/runlogr.png"></a></h1>
      <% if logged_in? %>
      <li class="user-search-header"><a href="#search">Search Users</a></li>
      <ul class="header-user group">
        <section class="header-chunk">
          <li><a href="#blogs/new">Add Blog</a></li>
          <li><a href="#logs/new">Add Log</a></li>
        </section>

        <li class="header-chunk">
          <img src="<%= current_user.profile_pic(:feed) %>" alt="<%= current_user.username %>" />
        </li>
        <section class="header-chunk">
          <li>
            <a href="#users/<%= current_user.id.to_s %>"><%= current_user.username %></a>
          </li>
          <li>
            <form class="log-out" action="<%= sessions_url %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <%= auth_token %>
              <button>Log Out</button>
            </form>
          </li>
        </section>
      </ul>
      <% end %>
    </nav>
  </header>

  <%= yield %>

  <footer class="page-footer">
    <nav class="footer-nav group">
      <p>
        Created by  <a href="http://www.paulbanel.com" target="_blank">Paul Banel</a>, 2015.
        Inspired by <a href="http://www.flotrack.org/page/Flotrackr" target="_blank">Flotrackr</a>.
      </p>
    </nav>
  </footer>
</body>
</html>
