<!DOCTYPE html>
<html>
<head>
  <title>Run(b)logr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<nav class="header">
  <h1 class="app-title">Run(b)logr</h1>
  <% if logged_in? %>
    Welcome, <%= current_user.username %>
    <br>
    <a href="users/<%= current_user.id %>/edit">Edit Profile</a>
    <form class="log-out" action="<%= sessions_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Log Out</button>
    </form>
    <br>
    <a href="#search">Find Users</a>
    <br>
  <% end %>
---------------------------------------

</nav>
<body>

<%= yield %>

</body>
<nav class="footer">

---------------------------------------
  <% if logged_in? %>
    <ul class="footer-links-main">
      <li><a href="#">Feed</a></li>
      <li><a href="#users/<%= current_user.id.to_s %>">Profile</a></li>
    </ul>
    <ul class="footer-links-add">
      <li><a href="#logs/new">Add Log</a></li>
      <li><a href="#blogs/new">Add Blog</a></li>
      <li><a href="#shoes/new">Add Shoe</a></li>
    </ul>
  <% end %>
</nav>
</html>
