<!DOCTYPE html>
<html>
<head>
  <title>Run(b)logr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<section class="header">
  <h1>Run(b)logr</h1>
    <% if logged_in? %>
      Welcome, <%= current_user.username %>
      <form action="<%= sessions_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>Log Out</button>
      </form>
    <% end %>
---------------------------------------

</section>
<body>

<%= yield %>

</body>
<section class="footer">

---------------------------------------
  <% if logged_in? %>
    <ul class="footer-links-main">
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
    <ul class="footer-links-add">
      <li><a href="#logs/new">Add Log</a></li>
      <li><a href="#blogs/new">Add Blog</a></li>
      <li><a href="#shoes/new">Add Shoe</a></li>
    </ul>
  <% end %>
</section>
</html>
